<form action="/admin" method="post">

  <%= input_text('email_from', 'Email d\'envoi', @email_from) %>
  <%= input_text('email_to', 'Email de destination', @email_to) %>
  <%= input_text('default_header', 'En-tête par défaut', @default_header) %>
  <%= input_text_area('default_body', 'Contenu du message par défaut', @default_body, 120, 1) %>

  <input name="commit" type="submit" value="Mettre à jour"/>
</form>
