<form action="/config" method="post">
  <fieldset>
    <legend>Configuration d'envoi</legend>

    <%= input_text('email_from', 'Email d\'envoi', @email_from) %>
    <%= input_text('email_to', 'Email de destination', @email_to) %>
    <%= input_text('email_subject', 'Titre', @email_subject, 50) %>
    <%= input_text_area('email_body', 'Contenu', @email_body, 120, 5) %>

    <input name="commit" type="submit" value="Mettre à jour"/>
  </fieldset>
</form>
