<p>Surveillance des mails de <a href="http://listes.rezo.net">http://listes.rezo.net</a>.</p>

<p>Réalisation Archiloque, sur une idée de Fil</p>

<p>Code source sous license MIT disponible <a href="http://github.com/archiloque/dredd">ici</a>.</p>