<!DOCTYPE html>
<html lang="fr">
<head>
  <link href="/stylesheet.css" rel="stylesheet" type="text/css"/>
  <title>[dredd] <%= @title %></title>
   <meta charset="utf-8">
</head>
<body>
<div id="navigation">
  <% if session[:user] %>
    <a href="/admin">Administration</a>
    <a href="/logout">Logout</a>
  <% else %>
    <a href="/login">Login</a>
  <% end %>
</div>
<div id="content">

  <% if @title %>
    <div id="title"><%= @title %></div>
  <% end %>

  <%= yield %>
</div>
</body>
</html>