body
  background-color :white
  font:
    family: "Helvetica Neue", Helvetica, "Lucida Grande", Verdana, sans-serif
    size: 12px
  color: black
  
*
  margin: 0px
  padding: 0px

img
  border: 0px

a
  text-decoration: none
  color: black
  font-weight: bold

a:hover
  text-decoration: underline

#content
  position: absolute
  top: 50px
  left: 100px

#title
  font-size: 36px
  padding-bottom: 10px

#navigation
  position: absolute
  top: 20px
  left: 100px
  font-size: 16px