<% @enabled_accounts.each do |account| %>
  <%= partial(:'accounts/link_to_account', :locals => {:account => account}) %>
<% end %>

<p></p>

<% @disabled_accounts.each do |account| %>
  <%= partial(:'accounts/link_to_account', :locals => {:account => account}) %>
<% end %>

<% if @user_logged %>
  <p>
    <a href="/new_account">Ajouter un compte</a>
  </p>
<% end %>